<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.printemps.model.mapper.TblCartMapper">
	<select id="findCartByUserId" resultType="jp.co.internous.printemps.model.domain.dto.CartDto">
		SELECT
			c.id AS id,
			c.product_count AS product_count,
			p.price AS price,
			p.product_name AS product_name,
			p.image_full_path AS image_full_path,
			(p.price * c.product_count) AS subtotal,
			c.created_at AS created_at,
			c.updated_at AS updated_at
		FROM
			tbl_cart c
		INNER JOIN 
			mst_product p
		ON
			c.product_id = p.id
		WHERE
			user_id = #{userId}
		ORDER BY updated_at DESC, created_at DESC;	
	</select>
</mapper>